<div class="navbar__box">
    <a routerLink="/" blog-logo></a>
    <blog-inputbox icon="search" placeholder="Search Medium"></blog-inputbox>
</div>
<div class="navbar__box">
    <button class="blog-button" (click)="toWritePage()">
        <span class="material-icons-outlined">
            create
        </span>
        <span>
            Write
        </span>
    </button>
    <button class="blog-button">
        <span class="material-icons-outlined">
            notifications
        </span>
    </button>
    <blog-menu>
        <div class="blog-button" button>
            <!-- TODO Add Avatar -->
            <span class="material-icons-outlined">
                keyboard_arrow_down
            </span>
        </div>
        <div menu>
            asdf
        </div>
    </blog-menu>
</div>