@use "../../utilities/mixin.scss";

:host(.blog-button) {
    @include mixin.flex;
    gap: .25em;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--clr-button);
    fill: var(--clr-button);
    font: inherit;
    line-height: 1.35em;
    cursor: pointer;

    &:focus {
        border: none;
        outline: none;
    }

    &.styled {
        padding: .25em .75em;
        border-radius: 100px;
        border: 1px solid var(--clr-button-border);
    }

    &:hover {
        color: var(--clr-button-hover);
        fill: var(--clr-button-hover);

        &.styled {
            border-color: var(--clr-button-border-hover);
        }
    }
}