<blog-login></blog-login>
<blog-page>
    <header class="home__header" *ngIf="title">
        <h1 class="home__title">{{ title }}</h1>
        <blog-taps #titleTapsRef
            class="home__taps"
            [taps]="titleTaps" 
            ></blog-taps>
    </header>
    <header class="home__header" *ngIf="!title">
        <blog-taps #tapsRef
            class="home__taps"
            [taps]="taps" 
            ></blog-taps>
    </header>
    <section class="home__body">
        <blog-card *ngFor="let blog of blogs"
            [toLink]="'/blog/' + blog._id"
            [user]="blog.author"
            [blogTitle]="blog.title"
            [content]="blog.content"
            [day]="calcDays(blog.creationTime)"
            [readingTime]="1"
            [tags]="blog.tags"
        ></blog-card>
    </section>
    <div side>
        <blog-side [title]="title"></blog-side>
    </div>
</blog-page>
