<blog-page>
    <header class="blog__header">
        <h1 class="blog__title">{{ title }}</h1>
        <blog-menu>
            <div button class="menu-button">
                <span class="material-icons-outlined">
                    more_vert
                </span>
            </div>
            <div menu>
                <button class="blog-button" (click)="deleteBlog()">
                    delete
                </button>
            </div>
        </blog-menu>
    </header>
    <div markdown [data]="content"></div>
</blog-page>
