<blog-page>
    <form class="write__form" (submit)="onSubmit(form)" #form="ngForm">
        <input ngModel
            required
            class="write__title input"
            placeholder="Title"
            name="title"
            maxlength="28"/>
        <input ngModel
            required
            class="write__tags input"
            placeholder="Tags seperated by ','"
            name="tags" />
        <textarea ngModel
            #content
            required
            class="write__content input"
            placeholder="Tell your story..."
            name="content"></textarea>
        <button class="write__button blog-button" [styled]="true" type="submit">
            Publish
        </button>
    </form>
</blog-page>
